{% extends 'base.html' %}

{% block title %} | Registro {% endblock %}

{% load static %}

{% block content %}
<div class="container">
    <h2 class="text-center">Registrarse</h2>
    <form method="POST" class="shadow p-4 bg-white rounded">
        {% csrf_token %}


        <div class="form-group">
            <label for="id_username">Usuario:</label>
            <input type="text" name="username" id="id_username" class="form-control" value="{{ form.username.value|default:'' }}">
            {% if form.username.errors %}
                <div class="text-danger">
                    {{ form.username.errors }}
                </div>
            {% endif %}
        </div>
        
        <div class="form-group mt-2">
            <label for="id_password1">Contraseña:</label>
            <input type="password" name="password1" id="id_password1" class="form-control" value="{{ form.password1.value|default:'' }}">
            {% if form.password1.errors %}
                <div class="text-danger">
                    {{ form.password1.errors }}
                </div>
            {% endif %}
        </div>

        <div class="form-group mt-2">
            <label for="id_password2">Confirmar Contraseña:</label>
            <input type="password" name="password2" id="id_password2" class="form-control" value="{{ form.password2.value|default:'' }}">
            {% if form.password2.errors %}
                <div class="text-danger">
                    {{ form.password2.errors }}
                </div>
            {% endif %}
        </div>

        <div class="form-group mt-2">
            <label for="id_email">Correo Electrónico:</label>
            <input type="email" name="email" id="id_email" class="form-control" value="{{ form.email.value|default:'' }}">
            {% if form.email.errors %}
                <div class="text-danger">
                    {{ form.email.errors }}
                </div>
            {% endif %}
        </div>

        <div class="form-group mt-2">
            <label for="id_celular">Celular:</label>
            <input type="number" name="celular" id="id_celular" class="form-control" maxlength="form.length" value="{{ form.celular.value|default:'' }}">
            {% if form.celular.errors %}
                <div class="text-danger">
                    {{ form.celular.errors }}
                </div>
            {% endif %}
        </div>
        
        <div class="form-group mt-2">
            <label for="id_direccion">Dirección:</label>
            <input type="text" name="direccion" id="id_direccion" class="form-control" value="{{ form.direccion.value|default:'' }}">
            {% if form.direccion.errors %}
                <div class="text-danger">
                    {{ form.direccion.errors }}
                </div>
            {% endif %}
        </div>
        
        <button type="submit" class="btn btn-primary w-100 mt-3">Registrarse</button>
    </form>
    <p class="text-center mt-3">¿Ya tienes cuenta? <a href="{% url 'login' %}">Inicia sesión aquí</a></p>
</div>
{% endblock %}
