{% extends 'base.html' %}

{% block title %} | Tienda {% endblock %}

{% load static %}

{% block content %}
<div class="container">
    <h2 class="mb-4">🌺 Flores Disponibles</h2>
    <div class="row">
        {% for flower in flowers %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                <div class="card shadow-sm h-100 card-index">
                    <a href="{% url 'detail_flower' flower.pk %}" class="text-decoration-none text-dark">
                        <div class="ratio ratio-1x1">
                            {% if flower.imagen %}
                                <img src="{{ flower.imagen.url }}" class="img-fluid rounded" alt="{{ flower.nombre }}" style="object-fit: cover;">
                            {% else %}
                                <p class="text-center">No hay imagen disponible</p>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><strong>{{ flower.nombre }}</strong></h5>
                            <p class="card-text fw-bold" style="color: rgba(0, 0, 0, 0.8)"> ${{ flower.precio }} COP</p>
                        </div>
                    </a>
                </div>
            </div>
        {% empty %}
            <p>No hay flores registradas aún.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
